<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCMS</title>
    @Styles.Render("~/CSSBundle")
    <link href="~/ContentCSS/simple-sidebar.css" rel="stylesheet">
    <link href="~/ContentCSS/css/font-awesome.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top no-margin">
        <div class="container-fluid">
            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="color:white" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "HCMS")" title="HCMS"><i class="fa fa-heartbeat fa-4" aria-hidden="true"></i> HCMS</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "HCMS", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        Html.AntiForgeryToken();
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a>Hola, @Session["NombreCompleto"].ToString()</a></li>
                            <li class="active"><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                        </ul>
                    }
                }
                <ul class="nav navbar-nav">
                    <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" style="color:white" aria-hidden="true"></span></button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper" style="margin-top:6px">
        @{ string ActionName = ViewContext.RouteData.Values["Action"].ToString();}
        <div id="sidebar-wrapper" style="background-color:#222">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="@(ActionName == "Index" ? "active" : ActionName == "ConsultarHora" ? "active" : ActionName == "AnularHora"? "active" : "")">
                    <a href="#"><span class="fa-stack fa-lg pull-left" aria-hidden="true"><i class="fa fa-calendar-o fa-stack-1x "></i></span> Horas Médicas</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="@Url.Action("Login","PortalPacientes")" title="Reservar hora médica"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-plus-o fa-stack-1x"></i></span> Reservar Hora Médica</a></li>
                        <li class="@(ActionName == "ConsultarHora" ? "active" : "")"><a href="@Url.Action("ConsultarHora","HCMS")" title="Consultar hora médica"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-check-o fa-stack-1x"></i></span> Consultar Hora Médica</a></li>
                        <li class="@(ActionName == "AnularHora" ? "active" : "")"><a href="@Url.Action("AnularHora","HCMS")" title="Anular hora médica"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-minus-o fa-stack-1x"></i></span> Anular Hora Médica</a></li>
                    </ul>
                </li>
                <li class="@(ActionName == "ConsultarHoraExamen" ? "active" : ActionName == "AnularHoraExamen" ? "active" : ActionName == "ConsultarExamen" ? "active" : "")">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-stethoscope fa-stack-1x "></i></span> Exámenes</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li class="@(ActionName == "ConsultarHoraExamen" ? "active" : "")"><a href="@Url.Action("ConsultarHoraExamen","HCMS")" title="Consultar hora de examen"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-check-o fa-stack-1x "></i></span> Consultar Hora de Examen</a></li>
                        <li class="@(ActionName == "AnularHoraExamen" ? "active" : "")"><a href="@Url.Action("AnularHoraExamen","HCMS")" title="Anular hora examen"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-minus-o fa-stack-1x "></i></span> Anular Hora de Examen</a></li>
                        <li class="@(ActionName == "ConsultarExamen" ? "active" : "")"><a href="@Url.Action("ConsultarExamen","HCMS")" title="Consultar resultado examen"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flask fa-stack-1x "></i></span> Consultar Estado de Examen</a></li>
                    </ul>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-navicon fa-stack-1x "></i></span> Navegación</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            @if (User.IsInRole("Master"))
                            {
                                <li><a href="@Url.Action("Index", "Master")" title="HCMS - Panel de administración"><span class="fa-stack fa-lg pull-left"><i class="fa fa-heartbeat fa-stack-1x "></i></span> Administrar HCMS</a></li>
                            }
                            @if (User.IsInRole("Administrador"))
                            {
                                <li><a href="@Url.Action("Index", "Administrador")" title="Administración"><span class="fa-stack fa-lg pull-left"><i class="fa fa-hospital-o fa-stack-1x "></i></span> Administración</a></li>
                            }
                            @if (User.IsInRole("Administrativo"))
                            {
                                <li><a href="@Url.Action("Index", "Intranet")" title="Ingresar a la intranet"><span class="fa-stack fa-lg pull-left"><i class="fa fa-medkit fa-stack-1x "></i></span> Administrar pacientes</a></li>
                            }
                            @if (User.IsInRole("Médico"))
                            {
                                <li><a href="@Url.Action("Index", "Medico")" title="Ingresar al área médica"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-md fa-stack-1x "></i></span> Médicos</a></li>
                            }
                            @if (User.IsInRole("Paciente"))
                            {
                                <li><a href="@Url.Action("Index", "PortalPacientes")" title="Portal de pacientes"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-o fa-stack-1x "></i></span> Portal de pacientes</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("Login","PortalPacientes")" title="Portal Pacientes"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-o fa-stack-1x "></i></span> Portal de Pacientes</a></li>
                }
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid body-content xyz">
                <div style="height:80%">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="row">
                <div class="col-sm-10">
                    <a href="@Url.Action("Index","HCMS")" title="Página de inicio"><h4><span class="textfooter">HCMS&copy;</span></h4></a>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <a href="@Url.Action("Login","PortalPacientes")" title="Portal de pacientes"><span class="textfooter">Portal de pacientes</span></a>
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Login", "Intranet")" title="Intranet"><span class="textfooter">Intranet</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Progress" class="modal fade in">
        <div class="modal-dialog text-center">
            <span id="progress" class="text-center" style="">
                <img src="~/images/loading.gif" alt="Espera..." style="width:15%; height:15%" />
            </span>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/sidebar_menu.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>