@model Healthcare_MS.Models.Examen

<div id="resultado">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Resultados de búsqueda del examen</h3>
    </div>
    <div class="modal-body">
        <div id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-login-msg">Resultado de búsqueda por código</span>
        </div>
        <div class="form-horizontal row t-spacing">
            <div class="row">
                @Html.LabelFor(m => Model.AgendaExamen.Paciente.Persona.NombreCompleto, "Nombre paciente", new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.AgendaExamen.Paciente.Persona.NombreCompleto, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => Model.AgendaExamen.Paciente.Persona.RutCompleto, "RUT", new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.AgendaExamen.Paciente.Persona.RutCompleto, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => Model.AgendaExamen.Sector.Establecimiento.Nombre, "Centro médico", new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.AgendaExamen.Sector.Establecimiento.Nombre, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => Model.fechaParseada, "Fecha y hora del examen", new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.fechaParseada, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="row x-spacing"><h3>Resultados</h3></div>
            <div class="row x-spacing">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tipo de examen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Examen_TipoExamen)
                            {
                                <tr>
                                    <td>@item.TipoExamen.CategoriaExamen.Nombre - @item.TipoExamen.Nombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="back" data-dismiss="modal">Volver</button>
    </div>
</div>